
.classpath
.project
.settings/
dependency-reduced-pom.xml

target

!DolchList1-readDisappear/target/dolchList1-readDisappear.jar
!DolchList2-clickWord/target/dolchList2-clickWord.jar
!DolchList3-clickWordNoHint/target/dolchList3-clickWordNoHint.jar
!DolchList4-type1letter/target/dolchList4-type1letter.jar
!DolchList5-typeWord/target/dolchList5-typeWord.jar

