DolchList1-readDisappear/target/
!DolchList1-readDisappear/target/dolchList.jar

DolchList1-readDisappear/.classpath
DolchList1-readDisappear/.project

DolchList1-readDisappear/.settings/
DolchList1-readDisappear/dependency-reduced-pom.xml